<class="container">

  <%=
    crumbs([
            {:name => "Tasks", :link => "/tasks"},
            {:name => @task.description, :link => "/tasks/#{@task.id}"},
            {:name => "Edit", :link => "active"}
          ])

   %>

  <h1>Editing task</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @task %> |
  <%= link_to 'Back', tasks_path %>
</div>
