<div class="edit-task">

  <h1 class="page-header">Edit task</h1>

  <%=
    crumbs([
            {:name => "#{@project.name}", :link => "/projects/#{@project.id}"},
            {:name => @task.description, :link => "/projects/#{@project.id}/tasks/#{@task.id}"},
            {:name => "Edit", :link => "active"}
          ])
   %>

  <%= render 'form' %>

</div>
