<div class="new-task">


  <h1 class="page-header">New task</h1>

  <%= crumbs([ {:name => "Tasks", :link => "/projects/#{@project.id}/tasks"},
               {:name => "New Task", :link => "active"} ]) %>

  <br><br>

  <%= render 'form' %>

  <br><br>

</div>
