<div class="container">

  <div class="page-header row">
    <h1 class="col-md-11">Users</h1>
    <div class="col-md-1 tasks-create-button">
      <%= link_to 'Create User', new_user_path, class: "btn btn-info pull-right" %>
    </div>
  </div>
  <th colspan="3"></th>

  <table class="table" style="margin-right:auto;margin-left:0px">
    <thead>

      <tr>
        <th class="col-md-3">Name</th>
        <th class="col-md-3">Email</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="col-md-3">
            <div class="pull-left tasks-td-top-buffer"><%= user.first_name + ' ' + user.last_name %></div>
          </td>
          <td class="col-md-3">
            <div class="tasks-td-top-buffer pull-left">
              <%= mail_to user.email %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>
