<div class="users-index">

  <div class="page-header row">
    <h1 class="col-md-11">Users</h1>
    <div class="col-md-1 tasks-create-button">
      <%= link_to 'Create User', new_user_path, class: "btn btn-info pull-right" %>
    </div>
  </div>

  <table class="table">

    <thead>
      <tr>
        <th class="col-md-2">Name</th>
        <th class="col-md-10"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <div class="pull-left tasks-td-top-buffer"><%= link_to user.full_name, user_path(user) %></div>
          </td>
          <td>
            <% if user == current_user || friend?(user) || admin? %>
              <div class="tasks-td-top-buffer pull-left">
                <%= mail_to user.email %>
              </div>
            <% end %>
            <% if user == current_user || admin? %>
              <div><%= link_to "edit", edit_user_path(user), class: "pull-right" %></div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>

</div>
