<% if model.errors.any? %>
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <div class="alert alert-danger">
        <h5><%= pluralize(model.errors.count, 'error') %> prohibited this from being saved:</h5>
        <ul>
          <% model.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
