DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">


  </head>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <link href="bootstrap.min.css" rel="stylesheet">

    <link href="jumbotron.css" rel="stylesheet">

    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>


  </head>

  <body>

    <!-- fixed top navigation bar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">gCamp</a>
        </div>
      </div>
    </div>

    <!-- main page container -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1 content">

        <!-- Jumbrotron row -->
        <div class="row">
          <div class="col-md-12">

            <div class="container tron-top-buffer">
              <div class="jumbotron" >
                <h1>gCamp</h1>
                <p>Your life, organized</p>
              </div>
            </div>

          </div>
        </div>
        <!-- end of jumbotron -->



        <!-- Panel container -->
        <div class="container">
          <div class="row">

            <% @panel_elements.each do |element| %>
            <div class="col-md-4">
              <div class="panel panel-default panel-image">
                <div class="panel-body">
                  <img class="panelImage" src=<%= element.first %> />
                </div>
              </div>

              <div class="panel panel-primary panel-content">
                <div class="panel-heading">
                  <h4 class="panel-title"><%= element[1] %></h4>
                </div>
                <div class="panel-body">
                  <ul>
                    <% element[2].each do |item| %>
                    <li><%= item %></li>
                  <% end %>
                  </ul>
                </div>
              </div>
            </div>
            <% end %>

          </div>
        </div>
        <!-- end of panel container -->

      </div>
    </div>
    <!-- end of container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
