!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Bootstrap 101 Template
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/


!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %link{:href => "../../favicon.ico", :rel => "icon"}/
    %title Jumbotron Template for Bootstrap
    %link{:href => "bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "jumbotron.css", :rel => "stylesheet"}/
    %script{:src => "../../assets/js/ie-emulation-modes-warning.js"}

  %body

    .navbar.navbar-inverse.narbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %a.navbar-brand{:href => "#"} gCamp

    -# main page container
    .row
      .col-md-10.col.col-md-offset-1.contenr
