!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Bootstrap 101 Template
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/


!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %link{:href => "../../favicon.ico", :rel => "icon"}/
    %title Jumbotron Template for Bootstrap
    %link{:href => "bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "jumbotron.css", :rel => "stylesheet"}/
    %script{:src => "../../assets/js/ie-emulation-modes-warning.js"}

  %body
    .navbar.navbar-inverse.narbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %a.navbar-brand gCamp
    -# main page container
    .row
      .col-md-10.col.col-md-offset-1.content
        -# jumbotron row
        .row
          .col-md-12
            .container
              .jumbotron
                %h1 gCamp
                %p Your life, organized
        -# panel container
        .container
          .row

          -# third column
          - @panel_elements.each do |element|
            .col-md-4
              .panel.panel-default.panel-image
                .panel-body
                  %img.panelImage=image_tag(element[:image])
              .panel.panel-primary.panel-content
                .panel-heading
                  %h4.panel-title= element[:title]
                .panel-body
                  %ul
                    - element[:content].each do |item|
                      %li= item
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:src => "../../dist/js/bootstrap.min.js"}
    %script{:src => "../../assets/js/ie10-viewport-bug-workaround.js"}
