<div class="container ">

  <div class="page-header row">

    <h1 class="col-md-11">Projects</h1>
    <div class="col-md-1 tasks-create-button">
      <%= link_to 'Create Project', new_project_path, class: "btn btn-info pull-right" %>
    </div>

  </div>

  <table class="table">
    <thead>
      <tr>
        <th class="col-md-2">Name</th>
        <th class="col-md-2">Tasks</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td>
            <div class="pull-left tasks-td-top-buffer">
              <%= link_to project.name, project_path(project) %>
            </div>
          </td>
          <td>
            <div class="tasks-td-top-buffer">
              <%= link_to project.tasks.length, project_tasks_path(project) %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
