.about-page
  .row
    .col-md-12
      %h1.page-header About
  .row
    .col-md-5
      .img.img-responsive=image_tag('about.png')
    .col-md-7
      .p
        We are dedicated to the makers, the creators, the risk-takers. We wake up in the middle of the night and furiously write down ideas about how to make your online life better.
      .br
      .p
        When we're not hard at work, 
