.container
  .row
    %h1.text-center.about-heading About
    %h4.text-center.about-discription Get organized and increase productivity with your team.
  .row.about-bottom-buffer
    .col-md-8.col-md-offset-2
      .text-center.well
        %img.images{:src => "https://farm6.staticflickr.com/5326/8778886051_2e888998a2_c.jpg"}
