/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";



.tron-top-buffer {
  margin-top: 80px;
}

.navbar {
  background-color:orange;
  border-color:orange;
}

.panel-image {
  height: 251px;
}

.panel-content {
  height: 141px;
}

#index4 {
  background: url(https://farm8.staticflickr.com/7304/10891456256_9e4fb825d2_h.jpg) no-repeat top center fixed;
}

.index4-top-buffer {
  margin-top: 100%;
  margin-left: 13%;
}

.index4-panel-buffer {
  margin-top: 15%;
}
















// end
