!!!
%html{:lang => "en"}
  %head
    %title gCamp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body.full

    -# navigation bar
    .navbar.navbar-inverse.narbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          = link_to "gCamp", home_path, class: "navbar-brand"

    -# page content
    .container
      =yield

      .row
        .col-md-12.footer-content
          .container
            %hr
            .footer
              %p
                =link_to_unless_current( "About", aboutPage_path)
                |
                =link_to_unless_current( "Terms", termsPage_path)
                |
                =link_to_unless_current( "FAQ", faqPage_path)
